table {
    width: 100%;
  }
  
th, td {
    padding: 8px;
  }
  
  th {
    background-color: grey;
  }

.titulos {
      color: white;
      text-align: center;
      font-size: larger;
  }

caption {
  caption-side: bottom;
  text-align: left;
  background-color: grey;
  color: white;
}